.covid-case rect{
  fill:rgb(245, 7, 7);
}

.home-g{
  fill:rgb(10, 48, 107);
}

.outdoor-g{
  fill:rgb(38, 148, 60);
}

.work-g{
  fill:rgb(214, 132, 32);
}

.brushed{
  color: #949995;
  fill: #949995;
}

th {
  font-weight: normal;
  /* border-radius: 5px; */
  color: white;
  /* padding-right: 5px;
  padding-left: 5px; */
  padding: 10px;
  height: 35px;
  /* min-width: 25px; */
  background-color: #738191;
}

th:first-of-type {
  width: 60px;
}

td{
  text-align: center;
}

#tableDiv {
  overflow:auto;
}


