.covid-case rect{
  fill:rgb(245, 7, 7);
}

.home-g{
  fill:rgb(10, 48, 107);
}

.outdoor-g{
  fill:rgb(38, 148, 60);
}

.work-g{
  fill:rgb(214, 132, 32);
}

.brushed{
  color: #949995;
  fill: #949995;
}

th {
  font-weight: normal;
  color: white;
  padding-right: 6px;
  height: 35px;
  background-color: #738191;
}

td{
  text-align: center;
}

#tableDiv {
  overflow:scroll;
}


